MYSQL_HOST='db' # Docker service name
MYSQL_USER='user' # Your user
MYSQL_PASSWORD='secret' # Your password
MYSQL_DATABASE='educational_institution_accreditation' # Your database
MYSQL_PORT=3306 # Your port

MONGO_PORT=27017 # Default MongoDB port
MONGO_COLLECTION = 'logs' # Your mongo collection
MONGO_DATABASE = 'app_logs' # Your mongo database
DOCKER_GID=YOUR_GID # Run `id -g` to get your group id
DOCKER_UID=YOUR_UID # Run `id -u` to get your user id
