services:
  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html/src
      - ./nginx.conf/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    user: "${DOCKER_UID}:${DOCKER_GID}"
    build:
      context: .
      dockerfile: php/Dockerfile
    container_name: php_eia
    volumes:
      - ./:/var/www/html 
    depends_on:
      - db
      - mongo

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  mongo:
    image: mongo:7
    container_name: mongo_eia
    restart: always
    ports:
      - "27019:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  db_data:
  mongo_data:
