* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background: #f8fafc;
    color: #1e293b;
}

main {
    flex: 1;
}

body.has-header {
    padding-top: 70px;
}

@media (max-width: 1024px) and (max-height: 700px) {
    body.has-header {
        padding-top: 60px;
    }
}