header {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.195);
    position: sticky;
    top: 0;
    z-index: 1000;
}   

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 96px 16px 60px;
}   

.left-nav, .right-nav {
    img {
        width: 24px;
        height: 24px;
        transform: scale(2);
    }

    display: flex;
    list-style: none;
    gap: 36px;
    font-size: 18px;  
    align-items: center;  

    a {
        color: #003d80;
        text-decoration: none;
    }
}

.left-nav a:hover, .right-nav a:hover { color: #002143; }